@import './variable.scss';

// reset
* {
  box-sizing: border-box;
  outline: none;
}

html,body,div,p,
h1,h2,h3,h4,h5,h6,
ul,li,form,input,
button,a,span {
  margin: 0;
  padding: 0;
}

html {
  font-size: 13px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  background: #f1f1f1;
}

a {
  color: #222;
  text-decoration: none;
}

li {
  list-style: none;
}

// colors
@each $colorKey, $color in $colors {
  .text-#{$colorKey} {
    color: $color;
  }
  .bg-#{$colorKey} {
    background: $color;
  }
}

// text align
@each $var in (left, right, center) {
  .text-#{$var} {
    text-align: $var !important;
  }
}

// font size
@each $sizeKey, $size in $font-sizes {
  .fs-#{$sizeKey} {
    font-size: $size * $base-font-size !important;
  }
}

// width,height
.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}


// flex
.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

// justify-content
@each $key, $val in $flex-jc {
  .jc-#{$key} {
    justify-content: $val;
  }
}

// align-items
@each $key, $val in $flex-ai {
  .ai-#{$key} {
    align-items: $val;
  }
}

// flex: 1;
.flex-1 {
  flex: 1;
}

// 边距 spacing (m-1,mx-1,mt-1)
//m-1(margin: 0.25;) p-1(padding: 0.25) 4个方向的值一致
@each $typeKey, $type in $spacing-types {
  //mx-1(margin-left:0.25;margin-right:0.25;)
  @each $sizeKey, $size in $spacing-sizes {
    .#{$typeKey}-#{$sizeKey} {
      #{$type}: $size * $spacing-base-size;
    }
  }

  //mx-1(margin-left:0.25;margin-right:0.25;) 水平和垂直方向
  @each $sizeKey, $size in $spacing-sizes {
    .#{$typeKey}x-#{$sizeKey} {
      #{$type}-left: $size * $spacing-base-size;
      #{$type}-right: $size * $spacing-base-size;
    }
    .#{$typeKey}y-#{$sizeKey} {
      #{$type}-top: $size * $spacing-base-size;
      #{$type}-bottom: $size * $spacing-base-size;
    }
  }

  // mt-1(margin-top: 0;) 单方向
  @each $directionKey, $direction in $spacing-directions {
    @each $sizeKey, $size in $spacing-sizes {
      .#{$typeKey}#{$directionKey}-#{$sizeKey} {
        #{$type}-#{$direction}: $size * $spacing-base-size;
      }
    }
  }
}

// button
button {
  border: none;
  border-radius: 0.1538rem;
  padding: .3rem .6rem;
  font-size: map-get($font-sizes, 'sm') * $base-font-size;
}

// nav
.nav {
  .nav-item {
    border-bottom: 3px solid transparent;
    &.active {
      color: map-get($colors, 'primary');
      border-bottom-color: map-get($colors, 'primary');
    }
  }
  &.nav-inverse {
    .nav-item {
      color: map-get($colors, 'white');
      &.active {
        border-bottom-color: map-get($colors, 'white');
      }
    }
  }
}

//icon
.icon {
  display: inline-block;
  background: url('../images/index.png') 0 0 no-repeat;
  background-size: 28.8462rem 35rem;
  &.icon-broke {
    width: 1.7692rem;
    height: 1.5385rem;
    background-position: 63.546% 15.517%;
  }
  &.icon-story {
    width: 1.7692rem;
    height: 1.5385rem;
    background-position: 90.483% 15.614%;
  }
  &.icon-mall {
    width: 1.4615rem;
    height: 1.6692rem;
    background-position: 36.746% 0.924%;
  }
  &.icon-experience {
    width: 1.5385rem;
    height: 1.5769rem;
    background-position: 10.408% 15.517%;
  }
  &.icon-newcomer {
    width: 1.5385rem;
    height: 1.6154rem;
    background-position: 89.733% 1.266%;
  }
  &.icon-honor {
    width: 1.8462rem;
    height: 1.5385rem;
    background-position: 36.467% 15.287%;
  }
  &.icon-colleague {
    width: 2rem;
    height: 1.6154rem;
    background-position: 9.728% 1.266%;
  }
  &.icon-kingcamp {
    width: 1.8462rem;
    height: 1.8462rem;
    background-position: 63.3% 0.927%;
  }
  &.icon-public {
    width: 1.8462rem;
    height: 1.5385rem;
    background-position: 0 96.207%;
  }
  &.icon-version {
    width: 2rem;
    height: 1.8462rem;
    background: url('../images/version-icon.png') no-repeat 0 0;
    background-size: 100% auto;
  }
  &.icon-arrow {
    width: 0.7692rem;
    height: 0.7692rem;
    background-position: 38.577% 52.076%;
  }
}

// 文本超出以省略号显示
.text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}